<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :blog_title %>
    <%= form.text_field :blog_title %>
  </div>

  <div class="field">
    <%= form.label :blog_body %>
    <%= form.text_field :blog_body %>
  </div>

  <div class="field">
    <%= form.label :images %>
    <%= form.text_field :post_title %>
    <%= form.file_field :images %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
