<p id="notice"><%= notice %></p>

<%= form_tag upload_blog_image_path(@blog.id), multipart: true  do %>
<%= file_field_tag "images", type: :file %>
<%= submit_tag %>
<% end %>
<p>
  <strong>Blog title:</strong>
  <%= @blog.blog_title %>
</p>


<style>
	.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}

</style>
<div class="container">
	<div class="row">
		<div class="row">
            <% @blog.images.each do |image| %>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" data-image-id="" data-toggle="modal" data-title="Im so nice" data-target = "#image-gallery"
                   data-image="<%= url_for(image.service_url.sub('thinkbiz-paperclip-demo-bucket.s3.ap-south-1.amazonaws.com','d2r2t95iem61ar.cloudfront.net'))%> ">
                   <!--  <img class=""
                         src="https://images.pexels.com/photos/158971/pexels-photo-158971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                         alt="Another alt text"> -->
                         <%= image_tag url_for(image.service_url.sub('thinkbiz-paperclip-demo-bucket.s3.ap-south-1.amazonaws.com','d2r2t95iem61ar.cloudfront.net') ) , :style => "width:300px;height:300px", :class => "img-thumbnail"  %>
                </a>
            </div>
            <% end %>
        </div>


        <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="image-gallery-title"></h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img id="image-gallery-image" class="img-responsive col-md-12" src="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary float-left" id="show-previous-image"><i class="fa fa-arrow-left"></i>
                        </button>

                        <button type="button" id="show-next-image" class="btn btn-secondary float-right"><i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>

<script>
	//let $('#image-gallery') = $('#image-gallery');
	$(document)
	.ready(function () {

		loadGallery(true, 'a.thumbnail');

    //This function disables buttons when needed
    function disableButtons(counter_max, counter_current) {
    	$('#show-previous-image, #show-next-image').show();
    	if (counter_max === counter_current) {
    		$('#show-next-image').hide();
    	} else if (counter_current === 1) {
    		$('#show-previous-image').hide();
    	}
    }

    /**
     *
     * @param setIDs        Sets IDs when DOM is loaded. If using a PHP counter, set to false.
     * @param setClickAttr  Sets the attribute for the click handler.
     */

     function loadGallery(setIDs, setClickAttr) {
     	let current_image,
     	selector,
     	counter = 0;

     	$('#show-next-image, #show-previous-image').click(function () {
     		if ($(this).attr('id') === 'show-previous-image') {
     			current_image--;
	     	} else {
	     		current_image++;
     	}

     	selector = $('[data-image-id="' + current_image + '"]');
     	updateGallery(selector);
     });

     	function updateGallery(selector) {
     		let $sel = selector;
     		current_image = $sel.data('image-id');
     		$('#image-gallery-title').text($sel.data('title'));
     		$('#image-gallery-image').attr('src', $sel.data('image'));
     		$('#image-gallery-image').css({"height": "300px"});
     		disableButtons(counter, $sel.data('image-id'));
     	}

     	if (setIDs == true) {
     		$('[data-image-id]').each(function () {
     			counter++;
     			$(this).attr('data-image-id', counter);
     		});
     	}
     	$(setClickAttr).on('click', function () {
     		updateGallery($(this));
     	});
     }
   });

// build key actions
$(document)
.keydown(function (e) {
	switch (e.which) {
      case 37: // left
      if (($('#image-gallery').data('bs.modal') || {})._isShown && $('#show-previous-image').is(":visible")) {
      	$('#show-previous-image').click();
      }
      break;

      case 39: // right
      if (($('#image-gallery').data('bs.modal') || {})._isShown && $('#show-next-image').is(":visible")) {
      	$('#show-next-image').click();
      }
      break;

      default:
        return; // exit this handler for other keys
      }
    e.preventDefault(); // prevent the default action (scroll / move caret)
  });

</script>