<h1>Upload Images with PaperClip and Active storage</h1>


<%= link_to "Upload Images with PaperClip", posts_path, class: "btn btn-primary" %>
<%= link_to "Upload Images with Active Storage", blogs_path, class: "btn btn-secondary" %>