<%= form_with(model: post, local: true,multipart: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :post_title %>
    <%= form.text_field :post_title %>
    <%= file_field_tag "images", type: :file %>
  </div>

  <div class="field">
    <%= form.label :post_body %>
    <%= form.text_field :post_body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
